footer {
  background-color: #000;
  color: #282828;
}

footer p {
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

footer img {
	width: 3vw;
	height: auto; 
	padding: 10px;
}

footer .bullet {
	display: flex;
	justify-content:center;
	padding-top: 20px;
}
