<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
        <div class="col-md-4">
            <span class="copyright">Copyright &copy; Redox Prod <?php echo date('Y');?></span>
        </div>
        <div class="col-md-4">
            <ul class="list-inline social-buttons">
            <li class="list-inline-item">
                <a class="fab fa-vimeo-v" href="https://vimeo.com/user65773366" target="_blank" rel="noopener noreferrer"></a>
            </li>
            <li class="list-inline-item">
                <a class="fab fa-facebook-f" href="https://www.facebook.com/RedoxProd/" target="_blank" rel="noopener noreferrer"></a>
            </li>
            </ul>
        </div>
        </div>
    </div>
</footer>