#contact {
  background-image: url("../images/contact/background.png");
  background-size: cover;
}

#contact .section-content {
  position: relative;
}

#contact .information {
  line-height: 30px;
  font-size: 22px;
  bottom: 30px;
  position: absolute;
}

#contact .information img {
  width: 18px;
}
