body {
	font-family: 'Raleway', Arial, sans-serif;
	color: #f1f1f1;

	padding: 0px;
	margin: 0px;
}

section {
	width: 100%;
}

section.full-height {
	height: 100vh;
}

section.grey {
	background-color: #282828
}

.section-content {
	width: 95%;
	max-width: 1000px;
	margin: auto;
}