#home {
  background-color: red; /* TEMP */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home img.arrow {
  width: 58px;
}

#home img.logo {
  margin: 0 0 100px 0;
}
