.flex-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#services {
	margin: 8vh 0;
}

#services .skills {
  min-width: 200px;
  max-width: 250px;
  text-align: center;
  margin: 10px;
  background-color: black;
  padding: 5vh 3vh; 
  border-radius: 4px;
}

#services p {
	min-width: 200px;
}

#services img {
	margin: auto;
}

.member {
	max-width: 300px;
	margin: 5vh;
	text-align: center;
}

#team {
	margin-top: 15vh;
}

.member img {
	min-width: 120px;
	max-width: 150px;
	min-height: 120px;
	max-height: 150px;
	border: solid white 3px;
	border-radius: 80px;
}

#presentation h1 {
	margin-top: 12vh;
}

