#projects-intro {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("../images/layout/iceland_3.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
}

.showreel iframe {
	height: 585px;
	width: 1000px;
}

@media screen and (max-width: 1000px) {
	.showreel iframe {
		height: auto;
		width: auto;
	}
}

.showreel {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#projects h1 {
	margin: 7vh 0;
}

#projects h1.right {
	text-align: right;
}

@media screen and (max-width: 425px) {
	#projects h1, #projects h1.right {
		text-align: center;
	}
}

#projects p {
	margin: 5px 0px;
}

#projects img {
	height: 25vh;
	width: auto;
	border: solid 2px rgba(256,256,256, 0);
	border-radius : 2px;
}

@media screen and (max-width: 768px) {
	#projects img {
		height: 18vh;
	}
}

#projects img:hover {
	border: solid 2px rgba(256,256,256, 1)
}
