<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
            <li class="list-inline-item">
                <a href="https://www.instagram.com/redox_mikael/" target="_blank">
                <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-vimeo-v fa-stack-1x fa-inverse"></i>
                </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://vimeo.com/redoxprod" target="_blank">
                <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/mikael-ruffieux/" target="_blank">
                <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
                </a>
            </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; <a href="http://www.redox-prod.ch" target="_blank">Redox Prod</a> 2019</p>
        </div>
        </div>
    </div>
</footer>