#contact {
  background-image: url("../images/layout/iceland_1_mir.jpg");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  position: relative;
  height: 100vh;
}

@media screen and (max-width: 425px){
	#contact {
		height: 150vh;
	}
}

@media screen and (max-width: 425px){
	.box img {
		width: 5vh;
	}
}

#contact .section-content {
	display: flex;
	flex-direction:column;
	background-color: rgba(10, 10, 10, 0.7);
	border-radius: 4px;
	margin: 6vh 3vh;
	padding: 3vh;
	width: 48%;
	min-width: 40vw;
	height: 80%;
	position: absolute;
	bottom: 0;
}

@media screen and (max-width: 425px){
	#contact .section-content {
		width: auto;
		margin: 12vh auto;
		border-radius: 0px;
	}
}

.contact-box {
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	flex-direction:line;
}

.box {
	border: solid black 1px;
	border-radius: 4px;
	max-width: 180px;
	width: 70vw;
	padding: 2vh;
	margin: 2vh 1vh;
	text-align: center;
	background-color: #282828;
}

input[type=text], input[type=email], textarea{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 1em;
}

input[type=submit] {
	background-color: grey;
	border: none;
	border-radius: 4px;
	color: white;
	font-family: 'Raleway';
	padding: 10px 20px;
	text-decoration: none;
	cursor: pointer;
	margin: 4px 2px;
}


