#img-gallery {
	width: 95%;
	height: auto;
	margin: auto;
}

#img-gallery p {
	text-align: center;
	vertical-align: bottom;
}

#img-gallery h1 {
	margin-top: 15vh;
}

#img-gallery img {
	max-height: 36vh;
	border: solid 2px rgba(256,256,256, 0);
	border-radius : 2px;
}

#img-gallery img:hover {
	border: solid 2px rgba(256,256,256, 0.5)
}

#photo-gallery {
	flex-direction: row;
}

.flex-galleries {
	display: flex;
	flex-direction: line;
	flex-wrap: wrap;
	justify-content: center;
	align-items:center;
	padding: 2vh 7vh;
	margin-bottom: 7vh;
}

button {
	background-color: grey;
	border: solid black 1px;
	padding: 15px;
	border-radius: 5px;
	font-family: 'Raleway', Arial, sans-serif;
	color: white;
	font-size: 1em;
	float: right;
}

button:hover {
	background-color: #282828;
}

